<!DOCTYPE HTML>
<html>
<head>
<title>医生简介</title>
<link href="/css/bootstrap.css" rel="stylesheet" type='text/css'></link>
<!-- Custom Theme files -->
<link href="/css/P1933_style.css" rel='stylesheet' type='text/css'></link>
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<!-- start menu -->
</head>
<body>
	<!-- header -->
	<div id="headerContent" name="headerContent" class="col-sm-3 col-md-2 sidebar">
			<div class="sidebar_top">
				<h1 id="doctorName" name="doctorName">汪亚强</h1> 
				<img id="doctorPhoto" name="doctorPhoto" src="/img/avt.png" alt=""></img>
			</div>
			<div class="details">
				<h3>职称职务</h3>
				<p id="doctorTitle" name="doctorTitle">副主任医师</p>  	 
				<address>
					<h3>正在就诊</h3>
					<span id="seeingADoctor" name="seeingADoctor">Lorem ipsum,</span>
				</address>
			</div>
			<div class="clearfix"></div>
	</div>		
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		 <div class="content">
			 <div class="skills">
				 <h3 class="clr2" id="introduce" name="introduce">医生简介</h3>
				 <div class="skill_info"  id="doctorSkills" name="doctorSkills">
					 <!--医生简介-->
					 <p id="doctorIntroduction" name="doctorIntroduction">擅长治疗老年关节周围与关节内骨折、退行性骨关节炎、创伤性关节炎、痛风性关节炎、类风湿性关节炎等。
					 </p>
				 </div>
				 
			 </div>
			
		 </div>
	</div>
	<footer class="container-fluid navbar-fixed-bottom container-fluid-myself" id="waitingAreaFooter" name="waitingAreaFooter">
		    <div class="row">
				<div class="alert-footer alert-success alert-dismissable row-self-shiftup alert-success-self self-text-center">
					<p class="text-cente" id="waitingArea" name="waitingArea">请其他患者在诊室外耐心等待</p>
				</div>
		    </div>
	</footer>
</body>
<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.BDTTSClient.js"></script>
<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.TTSClient.js"></script>
<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.Device.js"></script>
<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.NetWorkInterfacePlugin.js"></script>
<script type="text/javascript" src="/cordova/cordova.js"></script>
<script src="/js/sockjs/sockjs-0.3.4.min.js"></script>
<script src="/js/stomp/stomp-1.7.1.js"></script>
<script src="/js/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/consultationRoom/consultationRoom-P1933.js"></script>
</html>