<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>广播式WebSocket</title>
</head>
<body onload="disconnect()">
<!-- 
标签是一个相当古老的标签，
其被引入的最初目的是帮助老旧浏览器的平滑升级更替，
因为早期的浏览器并不能支持 JavaScript。
noscript 标签在不支持JavaScript 的浏览器中显示替代的内容。
这个元素可以包含任何 HTML 元素
 -->
<noscript><h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2></noscript>
<div>
    <div>
        <button id="connect" onclick="connect();">连接</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
    </div>
  
    <div id="conversationDiv">
        <label>pad消息</label><input type="text" id="name" value="诊区的大屏开始播放语音提示"/>
        <label>设备名字</label><input type="text" id="device" value="huaweipad"/>
        <button id="sendName" onclick="sendName();">发送</button>
        <p id="response"></p>
    </div>
</div>
</body>
</html>
<script src="/js/sockjs.min.js"></script>
<script src="/js/stomp.js"></script>
<script src="/js/jquery-3.1.1.js"></script>
<script src="/js/consultationRoom.js"></script>