<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<meta name="description" content=""></meta>
		<meta name="author" content=""></meta>
		<title>hospital queue</title>
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap/3.3.4/bootstrap.css" rel="stylesheet"></link>
		<!-- Add custom CSS here -->
		<link href="/css/interrogationSpot/interrogationSpot-P1932.css" rel="stylesheet"></link>
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"></link>
		<link href="/css/bootstrap-table.min.css" rel="stylesheet"></link>
    </head>
    <body>
	<!-- /.navbar-collapse -->
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" id="pageLogo" name="pageLogo">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="/img/logo.png" alt="logo" id="hospitalLogoImg" name="hospitalLogoImg"></img>
						<span id="hospitalName" name="hospitalName">成都中医药大学附属医院/四川省中医院</span>
					</a>	
				</div>
				
			</div>
		</nav>
    </header>	
	<section class="hospitalqueue" id="mainHospitalqueueV" name="mainHospitalqueueV">
	<div id="wrapper">
        <!-- .row -->
		
          <div class="col-lg-12" id="callContents" name="callContents">
            <div class="alert alert-info alert-dismissable" id="callMessage" name="callMessage">
				请016号患者刘丽娜到内分泌科就诊
            </div>
          </div>
        
        <!-- /.row -->
        <div class="row row-self-shiftup" id="consultingRoomList" name="consultingRoomList">
          <div class="col-lg-12">
            <div class="table-responsive">
			 <table class="table-striped " data-toggle="table" id="consultingRoom" name="consultingRoom">
              
                <thead>
                  <tr>
                    <th class="self-text-center">科室</th>
                    <th class="self-text-center">医生</th>
                    <th class="self-text-center">正在就诊患者</th>
					<th class="self-text-center">正在就诊患者</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="active">
                    <td>内分泌科</td>
                    <td>王诗雅</td>
                    <td>刘丽娜(016号)</td>
                    <td>孙海军(017号)</td>
                  </tr>
                  <tr class="success">
                    <td>心脏内科</td>
                    <td>樊艳华</td>
                    <td>韩晓曼(006号)</td>
                    <td>曹云飞(007号)</td>
                  </tr>
                  <tr class="warning">
                    <td>呼吸内科</td>
                    <td>林江涛</td>
                    <td>苏明明(010号)</td>
                    <td>徐福军(011号)</td>
                  </tr>
                  <tr class="danger">
                    <td>神经内科</td>
                    <td>谭昭</td>
                    <td>左小楠(020号)</td>
                    <td>刘西压(021号)</td>
                  </tr>
                  <tr>
                    <td>血液科</td>
                    <td>金敏绮</td>
                    <td>张海滨(008号)</td>
                    <td>陈旭曦(009号)</td>
                  </tr>
                  <tr>
                    <td>风湿免疫科</td>
                    <td>王国春</td>
                    <td>欧阳鹏飞(035号)</td>
                    <td>赵春生(036号)</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->
	</section>
	<footer class="container-fluid navbar-fixed-bottom" >
		<div class="row">
			<div class="alert-footer alert-success alert-dismissable row-self-shiftup alert-success-self self-text-center" id="waitingAreaFooter" name="waitingAreaFooter">
				<span class="text-cente" id="waitingArea" name="waitingArea">请其他患者在大厅候诊区耐心等待！</span>
			</div>
		</div>
	</footer>
	</body>
	<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.BDTTSClient.js"></script>
	<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.TTSClient.js"></script>
	<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.Device.js"></script>
	<script type="text/javascript" src="/cordova/plugin/howard.cordova.plugin.NetWorkInterfacePlugin.js"></script>
	<script type="text/javascript" src="/cordova/cordova.js"></script>
	<script src="/js/sockjs/sockjs-0.3.4.min.js"></script>
    <script src="/js/stomp/stomp-1.7.1.js"></script>
	<!-- JavaScript -->
    <script src="/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap/3.3.4/bootstrap.min.js"></script>
    <!-- Page Specific Plugins -->
    <script src="/js/bootstrap-table.min.js"></script>
	<script src="/js/interrogationSpot/interrogationSpot-P1932.js"></script>
</html>